* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC';
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

body {
  background-image: linear-gradient(to top, #ffffff, #ece9e6);
}

a *[data-slate-string] {
  color: rgb(var(--arcoblue-6));
}
